{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

<div class="container-xl mt-5">
    <div class="row justify-content-center">
<div class="col-12 col-md-6">
    {% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

{% if app.user %}
    <div class="mb-3 text-center">
        You are logged in as {{ app.user.username }}. You can <a href="{{ path('app_logout') }}">logout</a> now.
    </div>
    {% else %} 

            <h3 class="text-center">Login</h3>
            <p class="text-center mt-4">No account? &nbsp;<a href="{{ path('app_register') }}">Click here to register.</a>
            </p>
            <form method="post">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPasasword1" class="form-label">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
                
                    {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html
                
                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>
                    #}
                </div>
                <button type="submit" class="btn btn-primary mb-4">Submit</button>
            </form>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}
