{% extends 'base.html.twig' %}


{% block body %}

	{{ include('front/components/motionless-hero.html' ) }}

	<div class="container">
		<div class="row mt-4">
			<img class="article-cover" src="{{ asset(article.imageUrl) }}" alt="">
		</div>

		<div class="row my-4 text-center">
			<h2>{{ article.title }}</h2>
		</div>

		<div class="row mb-4">
			{{ article.content|raw }}
		</div>
	</div>
	<div class="container">
		<div class="row pb-4">
			<h2>Comments</h2>
		</div>
		{% for comment in article.comments %}
		
		<div class="row comment">
			
			<div class="col-2 mb-5">
				<img class="profile-photo" src="{{ asset('uploads/users/christian-buehner-DItYlc26zVI-unsplash.jpg') }}" alt="user photo">
			</div>
			<div class="col-6">
				<h5> wrote - 12.07.2021</h5>
				<p>{{ comment.content }}
				</p>
			</div>
		</div>
		{% endfor %}
		<div class="row">
			{% if is_granted('IS_AUTHENTICATED_FULLY') %} 
			<div class="col-8">
				<h4>Add comment</h4>
				{{ form(commentForm) }}
			</div>
			{% endif %}
		</div>
	</div>
{% endblock %}

