{% extends 'base.html.twig' %}

{% block body %}

	<!-- MOTIONLESS HERO SECTION STARTS HERE -->
	<div class="container pt-2 pb-4">

		<div class="col align-self-center">
			<p class="display-4 fw-bold text-center">Read.&nbsp;Publish.&nbsp;<span class="text-primary">Explore</span>
			</p>
			<h4 class="text-center">Find exciting articles written by people for people.</h4>
		</div>

	</div>
</div>

<!-- MOTIONLESS HERO SECTION ENDS HERE -->

<!-- ARTICLES GROUP STARTS HERE -->

<div class="container-xl mt-5">
	<div class="row ">
		<aside class="col-4 col-xxl-3 aside-filters" id="aside-filters-block">

			<div class="row justify-content-center aside-filters__button-wrapper">
				<div class="d-flex justify-content-end mb-4">
					<button id="cta-close" class="btn btn-outline-secondary aside-filters__button-close">&#10006;</button>
				</div>
			</div>
			<h3 class="mb-4">Filters</h3>
			{{ form(filterForm)}}
			<div class="tag-buttons mt-5">
				<h3 class="d-block mb-4">Tags</h3>
			<div class="d-flex buttons-tags--flex flex-wrap  " aria-label="Basic outlined example">
				
				{% for tag in mostPopularTags %}
			<a class="btn btn-outline-secondary btn-sm" 
				href={{ path('articles', {
					'tag' : tag.tagTitle
				} 
				)}}>{{ tag.tagTitle }}
			</a>
				{% endfor %}
			</div>
		</div>
		</aside>
		<div class="col-12 col-md-10 col-lg-8 container ">

			<button id="cta-filters" class="btn btn-primary mb-4 cta-filters-show">Filters</button>

			<!-- ARTICLE STARTS HERE -->

			<div class="col-12">

				{# for some reason knp_paginator packs array into another #}
				{% if articles is null %}
				<h3>No articles found </h3>
				{% else %}
				{% for article in articles %}
					<a class="article-card--link" href="{{ path('article-single',{
						id: article.id  } )}} ">
							<div class="{{ 'article-card pt-2 ps-2 mb-4 hover-shadow border-color-' ~ article.color }}">
								<div class="row">
									<div class="col-7 col-lg-8">
										<h5 class="mt-2">{{ article.title|length > 50 ? article.title|slice(0,50) ~ "..." : article.title }}</h5>
										<p class="text-secondary decrease-letter-spacing mb-0">New ways of recycling materials soon available</p>
										<p class="text-primary article-card--author">By
											{{ article.first_name }}&nbsp;{{ article.last_name }}</p>
									</div>
									<div class="col-5 col-lg-4">
										<img class="article-card--image article-border-2 mt-4 shadow" src="{{ asset(article.image_url) }}" alt="">
									</div>
								</div>
								<div class="row">
									<small class="">{{ article.created_at|date('d/M/Y') }} /
										 {% if article.time_to_read == 1 %}
										<span>1 min read</span>
										{% else %}
										<span>{{ article.time_to_read ~ " mins read " }}</span>
									   {% endif %}</small>
									<p class="pt-2 article-card--tags">{{ article.tags }}</p>
								</div>
							</div>
						</a>
					{% endfor %}
			
				{% endif %}
			</div>

			<!-- ARTICLE ENDS HERE -->

			<!-- PAGINATION CONTROLS STARTS HERE -->
			{% if articles is not null %}
			<div class="d-flex justify-content-center mt-5">
				{{ knp_pagination_render(articles) }}
			
			</div>
			{% endif %}
			<!-- PAGINATION CONTROLS ENDS HERE -->
			
		</div>
	</div>
</div>

<!-- ARTICLES GROUP ENDS HERE -->

{% endblock %}{% block javascripts %}
{{ parent () }}
<script>
	const buttonFilters = document.getElementById('cta-filters');
const asideBlock = document.getElementById('aside-filters-block');
const closeButton = document.getElementById('cta-close');
buttonFilters.addEventListener('click', function () {
asideBlock.classList.add('nav-open');
})
closeButton.addEventListener('click', function () {
asideBlock.classList.remove('nav-open');
})
</script>{% endblock %}
