{% extends 'base.html.twig' %}

{% block body %}

	<!-- MOTIONLESS HERO SECTION STARTS HERE -->
	<div class="container pt-2 pb-4">

		<div class="col align-self-center">
			<p class="display-4 fw-bold text-center">Read.&nbsp;Publish.&nbsp;<span class="text-primary">Explore</span>
			</p>
			<h4 class="text-center">Find exciting articles written by people for people.</h4>
		</div>

	</div>
</div>

<!-- MOTIONLESS HERO SECTION ENDS HERE -->

<!-- ARTICLES GROUP STARTS HERE -->

<div class="container-xl mt-5">
	<div class="row ">
		<aside class="col-4 col-xxl-3 aside-filters" id="aside-filters-block">

			<div class="row justify-content-center aside-filters__button-wrapper">
				<div class="d-flex justify-content-end mb-4">
					<button id="cta-close" class="btn btn-outline-secondary aside-filters__button-close">&#10006;</button>
				</div>
			</div>

			<form action="">
				<select class="form-select" aria-label="Sorting list">
					<option selected>Sort by</option>
					<option value="1">Latest</option>
					<option value="2">Oldest</option>
					<option value="3">Most commented</option>
				</select>
				<div class="d-flex flex-row mt-4">
					<input class="form-control me-2 search-w" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-primary" type="submit">Search</button>
				</div>
			</form>

			<div class="d-flex buttons-tags--flex flex-wrap mt-5 " aria-label="Basic outlined example">
				<button type="button" class="btn btn-outline-secondary btn-sm">Electronics</button>
				<button type="button" class="btn btn-outline-secondary btn-sm">Games</button>
				<button type="button" class="btn btn-outline-secondary btn-sm">DIY</button>
				<button type="button" class="btn btn-outline-secondary btn-sm">Fashion</button>
				<button type="button" class="btn btn-outline-secondary btn-sm">Cooking</button>
				<button type="button" class="btn btn-outline-secondary btn-sm">Music</button>
				<button type="button" class="btn btn-outline-secondary btn-sm">DIY</button>
			</div>

		</aside>
		<div class="col-12 col-md-10 col-lg-8 container ">

			<button id="cta-filters" class="btn btn-primary mb-4 cta-filters-show">Filters</button>

			<!-- ARTICLE STARTS HERE -->

			<div
				class="col-12">

				{# for some reason knp_paginator packs array into another #}
				{% for item in articles.items %}
					{% for article in item %}
					<a class="article-card--link" href="{{ path('article-single',{
						id: article.id  } )}} ">
							<div class="{{ 'article-card pt-2 ps-2 mb-4 hover-shadow border-color-' ~ article.color }}">
								<div class="row">
									<div class="col-7 col-lg-8">
										<h5 class="mt-2">{{ article.title|length > 50 ? article.title|slice(0,50) ~ "..." : article.title }}</h5>
										<p class="text-secondary decrease-letter-spacing mb-0">New ways of recycling materials soon available</p>
										<p class="text-primary article-card--author">By
											{{ article.aFirstName }}&nbsp;{{ article.aLastName }}</p>
									</div>
									<div class="col-5 col-lg-4">
										<img class="article-card--image article-border-2 mt-4 shadow" src="{{ asset(article.image) }}" alt="">
									</div>
								</div>
								<div class="row">
									<small class="">23. Oct / 3 mins read</small>
									<p class="pt-2 article-card--tags">{{ article.tags }}</p>
								</div>
							</div>
						</a>
					{% endfor %}
				{% endfor %}
			</div>

			<!-- ARTICLE ENDS HERE -->

			<!-- PAGINATION CONTROLS STARTS HERE -->
			<div class="d-flex justify-content-center mt-5">
				{{ knp_pagination_render(articles) }}
			</div>
			<!-- PAGINATION CONTROLS ENDS HERE -->
		</div>
	</div>
</div>

<!-- ARTICLES GROUP ENDS HERE -->

<!-- ARTICLE CARDS START HERE -->
<div class="container-xl mt-5">
	<div class="row justify-content-center">

		<div class="col-12 col-sm-6 col-md-4">
			<div class="card h-100 justify-self-center">
				<div class="card-header">
					<strong>George Mackin</strong>
				</div>
				<div class="card-body d-flex flex-column">
					<h5 class="card-title">Body special treatment.</h5>
					<p class="card-text">Try this new way of adding adding ingredients together.</p>
					<div class="mt-auto">
						<a href="#" class="btn btn-primary">Read now</a>
					</div>
				</div>
			</div>
		</div>

		<div class="col-12 col-sm-6 col-md-4 mt-4 mt-sm-0">
			<div class="card h-100">
				<div class="card-header">
					<strong>Steven Risoh</strong>
				</div>
				<div class="card-body d-flex flex-column">
					<h5 class="card-title">Safe sun tanning.</h5>
					<p class="card-text">Get safe tan with our tips and tricks. Don't worry there are easy to follow.</p>
					<div class="mt-auto">
						<a href="#" class="btn btn-primary">Read now</a>
					</div>
				</div>
			</div>
		</div>

		<div class="d-none d-md-block col-0 col-md-4">
			<div class="card h-100">
				<div class="card-header">
					<strong>Albert Publicos</strong>
				</div>
				<div class="card-body d-flex flex-column">
					<h5 class="card-title">Never ending story.</h5>
					<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
					<div class="mt-auto">
						<a href="#" class="btn btn-primary">Read now</a>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<!-- ARTICLE CARDS END HERE -->{% endblock %}{% block javascripts %}
{{ parent () }}
<script>
	const buttonFilters = document.getElementById('cta-filters');
const asideBlock = document.getElementById('aside-filters-block');
const closeButton = document.getElementById('cta-close');
buttonFilters.addEventListener('click', function () {
asideBlock.classList.add('nav-open');
})
closeButton.addEventListener('click', function () {
asideBlock.classList.remove('nav-open');
})
</script>{% endblock %}
