{% extends 'base.html.twig' %}


{% block body %}

	{{ include('front/components/motionless-hero.html' ) }}

	<div class="container">
		<div class="row mt-4">
			{% if article.imageUrl != null %}

			<img class="article-cover" src="
			{{ asset(article.imageUrl) }}" alt="">
            
			{% endif %}
		</div>

		<div class="row my-4 text-center">
			<h2>{{ article.title }}</h2>
		</div>

		<div class="row mb-4">
			{{ article.content|raw }}
		</div>
	</div>
	<div class="container">
		<div class="row pb-4">
			<h2>Comments</h2>
		</div>
		
		{% for comment in article.comments %}
		
		<div class="row comment">
		
			<div class="col-3 col-lg-1 mb-5">
			
				<img class="comment-photo" src="{{ asset(comment.user.photoUrl) }}" alt="user photo">
			</div>
			<div class="col-9 col-lg-6">
			
				<h5> {{comment.user.firstName}}&nbsp; {{comment.user.lastName}} wrote on {{ comment.createdAt|date('d-M-Y') }}</h5>
			
			
				<p>{{ comment.content }}
				</p>
			</div>
		</div>
		{% endfor %}
		<div class="row">
			{% if is_granted('IS_AUTHENTICATED_FULLY') %} 
			<div class="col-8">
				<h4>Add comment</h4>
				{{ form(commentForm) }}
			</div>
			{% endif %}
		</div>
	</div>
{% endblock %}

