{% extends 'base.html.twig' %}

{% block body %}

	<!-- USER PANEL STARTS HERE -->

	<div class="container-xl mt-5">
		<div class="row justify-content-center">
			<div class="col-12 col-md-8">
				{% for message in app.flashes('security') %}
				<div class="alert alert-success" role="alert">
					{{ message }}
				  </div>
				  {% endfor %}
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item" role="presentation">
						<button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Articles</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Profile</button>
					</li>
				</ul>
				<div
					class="tab-content" id="myTabContent">

					<!-- FIRST TAB -->
					<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
						<h4 class="text-center my-4">Your articles</h4>

						<div class="table-responsive">
							<table class="table table-hover">
								<thead>
									<tr>
										<th scope="col">#</th>
										<th scope="col">Title</th>
										<th scope="col">Tags</th>
										<th scope="col">Date added</th>
									</tr>
								</thead>
								<tbody>
									{% set id = 1 %}
									{% for article in articles %}
										{% set urlToArticle = url('article-edit', {'id': article.id} ) %}
										<tr data-id="{{ article.id }}" data-path="{{ urlToArticle }}" class="article-table__link">
											<td>
                                                {{ id }}
											</td>
											{% set id = id + 1 %}
											<td>{{ article.title|length > 30 ? article.title|slice(0,30) ~ '...' : article.title }}</td>
											<td>{{ article.tagsId|map (tag => tag.tagTitle)| join(', ' ) }}
											</td>
											<td>{{ article.createdAt | date("m/d/Y H:m:s") }}</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
						<div class="text-center mb-4">
							<a class="btn btn-primary" href="{{ path('article-new') }}">Add article</a>
						</div>
					</div>

					<!-- FIRST TAB ENDS HERE -->

					<!-- SECOND TAB -->


					<div class="tab-pane fade col-12 col-lg-8 mx-lg-auto" id="profile" role="tabpanel" aria-labelledby="profile-tab">

						<div class="row mt-4 d-flex">
							<div class="col-12 col-md-4 d-flex justify-content-center">
								{% if photo_url != null %}
								<img class="profile-photo mx-auto" src="{{ asset(photo_url) }}" alt="">
								{% else %}
								<img class="profile-photo mx-auto" src="{{ asset('assets/images/users/dummy.png') }}" alt="missing photo">
								{% endif %}
							</div>
							<div class="col-12 col-md-8 mt-4 mt-md-0">
								<h2 class="text-center">{{ first_name }}&nbsp;{{ last_name }}</h2>
							</div>
						</div>
						<div class="mt-3 text-lg-center ">
						{{ form_start(userForm)}}
							{{ form_row(userForm.first_name) }}
							{{ form_row(userForm.last_name) }}
							{{ form_row(userForm.Bio) }}
							
							{{ form_label(userForm.photo,'Portrait photo', { 'label_attr': { 
								'class' : 'mb-0'
							 }} ) }}
							<br /><small class="small-custom">Recommended size: 720x600px</small>
							{{ form_widget(userForm.photo, { 'attr' : {
								'class': 'mb-4'
							}} )}}

							{{ form_row(userForm.submit) }}
						{{ form_end(userForm) }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- LOGIN FORM ENDS HERE -->

	{% endblock %}

	{% block javascripts %}
		{{ parent() }}
	  <script src={{ asset('assets/js/custom.js') }}></script>
	{% endblock %}

