<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet"
             href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
		<link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-custom">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">

					<div class="logo">
						<img src="{{ asset('assets/images/chevrons.svg') }}" 
                            alt="" width="30" height="24" class="d-inline-block align-text-top">

						<div class="logo-name">
							<h4>Higher</h4>
							<p class="mb-0">Creativity first</p>
						</div>
					</div>

				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav ms-auto ">
						<li class="nav-item">
							<a class="nav-link {% if app.request.attributes.get('_route') == 'main' %} active {% endif %}" aria-current="page" href="{{ path('main') }}">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link nav-link {% if app.request.attributes.get('_route') == 'articles' %} active {% endif %}"" href="{{ path('articles') }}">Articles</a>
						</li>
						<li class="nav-item">
							<a class="nav-link nav-link {% if app.request.attributes.get('_route') == 'subscription' %} active {% endif %}" href="subscription.html">Subscription</a>
						</li>
						<li class="nav-item">
							<a class="nav-link nav-link {% if app.request.attributes.get('_route') == 'contact' %} active {% endif %}" href="contact.html">Contact</a>
						</li>
						<li class="nav-item"></li>
					</ul>
        <div class="buttons-user ms-lg-5 mx-center">
          {% if is_granted("ROLE_USER") %}
          <a href="{{ path('profile') }}" class="btn btn-primary btn-sm" tabindex="-1" role="button" aria-disabled="true">User panel</a>
          <a href="{{ path('app_logout') }}" class="btn btn-secondary btn-sm ms-lg-3" tabindex="-1" role="button" aria-disabled="true">Logout</a>
          {% else %}
          <a href="{{ path('app_login') }}" class="btn btn-primary btn-sm" tabindex="-1" role="button" aria-disabled="true">Login/Register</a>
          {% endif %}
        </div>
        
        </div>
			</div>
		</nav>

        {% block body %}{% endblock %}
      
       
     <!-- FOOTER STARTS HERE -->
<footer class="container-fluid slider-full mt-auto">
    <div class="container-xl pt-4 pb-4">
      <div class="row">
    
        <!-- FIRST COL -->
        <div class="col-12 col-sm-6 col-md-3">
          <div class="logo">
            <img src="{{ asset('assets/images/chevrons.svg') }}" alt="" width="30" height="24" class="d-inline-block align-text-top">
            <div class="logo-name">
              <h4>Higher</h4>
              <p class="mb-0">Creativity first</p>
            </div>
          </div>
    
        
          <strong class="d-block pt-4">About us</strong>
          <p class="text-secondary">
            <small><strong>Higher </strong> is your news, entertainment, music fashion website.</small>
          </p>
        </div>
    
        <!-- END -->
    
         <!-- SECOND COL -->
    
        <div class="col-12 col-sm-6 col-md-3">
         <strong>Popular categories</strong>
          {{ render(controller('App\\Controller\\FrontController::getMostPopularTags')) }}
              </div>
    
        <!-- END -->
    
         <!-- THIRD COL -->
        <div class="col-12 col-sm-6 col-md-3">
          <strong>Privacy &amp; Terms</strong>
          <ul class="list-unstyled">
           <li class="mt-4"><a class="text-secondary" href="#">Privacy policy</a></li> 
           <li class="mt-2"><a class="text-secondary" href="#">Terms and conditions</a></li> 
           <li class="mt-2"><a class="text-secondary" href="#">Subscriptions</a></li> 
           <li class="mt-2"><a class="text-secondary" href="#">Additional Information</a></li> 
           <li class="mt-2"><a class="text-secondary" href="#">Testimonials</a></li> 
          </ul>
        </div>
    
          <!-- END -->
    
         <!-- FOURTH COL -->
        <div class="col-12 col-sm-6 col-md-3">
          <strong>Contact us</strong>
          <ul class="list-unstyled">
            <li class="mt-4"><a class="text-secondary" href="#">Help/Faq</a></li> 
            <li class="mt-2"><a class="text-secondary" href="contact.html">Contact</a></li> 
            </ul>
          </div>
    
          <!-- END -->
    
      </div>
    </footer>
    
    <!-- FOOTER ENDS HERE -->
    {% block javascripts %}
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.min.js"></script>
  {% endblock %} 
  </body>

</html>
